<!DOCTYPE html>

<style>
  body {
    font-size: 22px !important;
  }
  li {
    line-height: 26px !important;
  }
  .table th {
    color: #317eac !important;
  }
</style>
<html>

<xmp theme="cerulean" style="display:none;">
</xmp>

<script src="http://strapdownjs.com/v/0.2/strapdown.js"></script>
</html>